<div class="container">
  <div class="presentation"><h2> <%= @FirstName %> <%= @LastName %> </h2></div>
  <div class="mail"><h5> <%= @email %> </h5></div>
  <div class="text-center">
    <button class="btn btn-secondary" type="button">Editer le profil</button>
  </div>
  <div class="row">
    <div class="col-sm-3 col-sm-offset-4"><img class="d-block mx-auto rounded-circle mb-3" src="<%= @avatar %>" alt="Image"></div>
  </div>
  <div class="row">
    <% @wishlists.each do |wishlist| %>
    <div class="col-lg-4 margin-bottom-1x">
      <div class="card text-center">
        <div class="card-block">
          <h4 class="card-title"> <%= wishlist.title %> </h4>
          <p class="card-text"> <%= wishlist.description %> </p>
          <%= link_to "Voir cette liste", wishlist_path(wishlist), class: "btn btn-outline-primary btn-sm" %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
