<div class="modal fade" id="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Choose the perfect size!</h4>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body margin-top-1x">
        <div class="row align-items-center">
          <div class="col-xs-12 col-sm-12">
            <div class="form-inputs" id="form">
              <%= simple_form_for :search, method: :get, url: furnitures_path do |f| %>
                <div class="col-xs-12">
                  <%= f.input :category, collection: @categories, class: 'form-control', placeholder: 'toto' %>
                </div>
                <br>
                <h6 class="text-muted text-normal text-uppercase text-center margin-top-1x">Size</h6>
                <hr class="margin-bottom-1x">
                <div class="row">
                  <div class="col-xs-6 col-md-6">
                    <%= f.input :min_length, class: "form-control ", id: "min_length", placeholder: 'min length (cm)'%>
                  </div>
                  <div class="col-xs-6 col-md-6">
                    <%= f.input :max_length, class: "form-control", id: "max_length", placeholder: 'max length (cm)' %>
                  </div>
                  <div class="col-xs-6 col-md-6">
                    <%= f.input :min_width, class: "form-control", id: "min_width", placeholder: 'min width (cm)' %>
                  </div>
                  <div class="col-xs-6 col-md-6">
                    <%= f.input :max_width, class: "form-control", id: "max_width", placeholder: 'max width (cm)' %>
                  </div>
                  <div class="col-xs-6 col-md-6">
                    <%= f.input :min_height, class: "form-control", id: "min_height", placeholder: 'min height (cm)' %>
                  </div>
                  <div class="col-xs-6 col-md-6">
                    <%= f.input :max_height, class: "form-control", id: "max_height", placeholder: 'max height (cm)' %>
                  </div>
                  <div class="row">
                  <div class="col-xs-12 col-md-12">
                  <p>Lenght</p>
                  <b> 0 cm </b> <input id="ex2" type="text" class="span2" value="" data-slider-min="0" data-slider-max="400" data-slider-step="5" data-slider-value="[50,250]"/> <b>    400 cm</b>
                  </div>
                  <div class="col-xs-12 col-md-12">
                  <p>Width</p>
                  <b> 0 cm </b> <input id="ex3" type="text" class="span2" value="" data-slider-min="0" data-slider-max="400" data-slider-step="5" data-slider-value="[100,300]"/> <b>    400 cm</b>
                  </div>
                  <div class="col-xs-12 col-md-12">
                  <p>Heigth</p>
                  <b> 0 cm </b> <input id="ex4" type="text" class="span2" value="" data-slider-min="0" data-slider-max="400" data-slider-step="5" data-slider-value="[50,250]"/> <b>    400 cm</b>
                  </div>
                  </div>
                </div>
                <br><br>
                <%= f.submit 'Rechercher', class: 'btn btn-primary scale-up delay-1 btn-block' %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
