<!-- <p><%= @furniture.title %></p>
<p><%= @wishlist.title %></p> -->

<div class="page-title">
  <div class="container">
    <div class="column">
      <%= link_to wishlist_path(@wishlist), class: 'btn btn-sm btn-outline-primary' do %>
        <i class="icon-arrow-left"></i> <%= "All products" %>
      <% end %>
    </div>
    <div class="column text-right">
      <%= link_to wishlist_path(@wishlist), class: 'btn btn-link-danger' do %>
        <i class="icon-cross"></i> <%= "Delete this product" %>
      <% end %>
    </div>
  </div>
</div>

<div class="container padding-bottom-3x mb-1">
  <div class="row">
    <div class="col-md-4">

    <!-- PRODUCT GALLERIE  -->

      <div class="product-gallery">
        <div class="gallery-wrapper">
          <div class="gallery-item active"><%= image_tag @furniture.photo %></div>
          <div class="gallery-item"><%= image_tag @furniture.photo %></div>
          <div class="gallery-item"><%= image_tag @furniture.photo %></div>
          <div class="gallery-item"><%= image_tag @furniture.photo %></div>
          <div class="gallery-item"><%= image_tag @furniture.photo %></div>
        </div>
        <div class="product-carousel owl-carousel">
          <div data-hash="one"><%= image_tag @furniture.photo %></div>
          <div data-hash="two"><%= image_tag @furniture.photo %></div>
          <div data-hash="three"><%= image_tag @furniture.photo %></div>
          <div data-hash="four"><%= image_tag @furniture.photo %></div>
          <div data-hash="five"><%= image_tag @furniture.photo %></div>
        </div>
        <ul class="product-thumbnails">
          <li class="active"><a href="#one"><%= image_tag @furniture.photo %></a></li>
          <li><a href="#two"><%= image_tag @furniture.photo %></a></li>
          <li><a href="#three"><%= image_tag @furniture.photo %></a></li>
          <li><a href="#four"><%= image_tag @furniture.photo %></a></li>
          <li><a href="#five"><%= image_tag @furniture.photo %></a></li>
        </ul>
      </div>
    </div>

    <!-- PRODUCT DESCRIPTION -->

    <div class="col-md-8">
      <div class="padding-top-2x mt-2 hidden-md-up"></div>
      <h2 class="padding-top-1x text-normal"><%= @furniture.title %></h2>
      <span class="h2 d-block"><%= @furniture.price.to_s.gsub(".0", "").gsub(".", ",") %> € </span>
      <hr class="mb-3">
      <div class=" mb-2 widget widget-tags">
        <span class="text-medium">Size:</span>
        <a class="tag active" href="#">Lenght: <%= @furniture.length %> cm</a>
        <a class="tag active" href="#">Width: <%= @furniture.width %> cm</a>
        <a class="tag active" href="#">Heigth: <%= @furniture.height %> cm</a>
      </div>
      <p><%= @furniture.description %></p>
      <br>
      <div class=" mb-2 widget widget-tags">
        <span class="text-medium">Categories:&nbsp;</span>
        <a class="tag" href="#"> <%= @furniture.category %></a>
      </div>
      <hr class="mb-3">
      <div class="d-flex flex-wrap justify-content-between">
        <div class="entry-share mt-2 mb-2">
          <span class="text-muted">Share:</span>
          <div class="share-links">
            <a class="social-button shape-circle sb-facebook" href="#" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="socicon-facebook"></i></a>
            <a class="social-button shape-circle sb-twitter" href="#" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="socicon-twitter"></i></a>
            <a class="social-button shape-circle sb-instagram" href="#" data-toggle="tooltip" data-placement="top" title="Instagram"><i class="socicon-instagram"></i></a>
            <a class="social-button shape-circle sb-google-plus" href="#" data-toggle="tooltip" data-placement="top" title="Google +"><i class="socicon-googleplus"></i></a>
          </div>
        </div>
        <div class="sp-buttons mt-2 mb-2">
          <%= link_to "Buy", @furniture.url, target: "_blank", class: "btn btn-primary btn-sm" %>
        </div>
      </div>
    </div>
  </div>
