<div class="wishlist-title"><h1><strong><%= @wishlist.title %></strong></h1></div>
<div class="wishlist-description"><p> <%= @wishlist.description %></p></div>
<%= link_to "Supprimer la wishlist", wishlist_path(@wishlist), :method => 'delete' %>


<% @furnitures.each do |furniture| %>
  <p> <%= furniture.title %> </p>
  <p> <%= furniture.description %> </p>>
  <p> <%= furniture.photo %> </p>
<% end %>


