<!-- ADD COLLABORATORS TO WISHLIST-->

<div class="modal fade" id="modalCollab" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Add collaborators</h4>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body margin-top-1x">
        <div class="container">
          <%= form_for [@wishlist, GuestWishlist.new] do |f| %>
            <div class="form-group">
              <div class="col-12">
                <!-- <input class="form-control" type="email" id="email-input" value="email@example.com"> -->
                <%= f.text_field :email, required: true, class: "form-control", placeholder: "Email" %>
                <br>
              </div>
              <%= f.submit "send", class: "btn btn-primary btn-block" %>
            </div>
          <% end %>
          <div class="row">
            <div class="col-12">
              <h4 class=" margin-top-2x text-center">All collaborators</h4>
              <div class="table-responsive margin-bottom-2x">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>Email</th>
                      <th class="text-right">Delete collaborator?</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @wishlist.guest_wishlists.each do |guest| %>
                      <tr>
                        <th><%= guest.email %></th>
                        <td class="text-right">
                          <%= link_to wishlist_guest_wishlist_path(@wishlist, guest), method: :delete do %>
                            <i class="icon-cross"></i>
                          <% end %>
                        </td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-outline-secondary btn-sm" type="button" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
