<div class="col-xs-12 col-sm-3">
  <div class="product-card">
    <%= image_tag furniture.photo, class: "product-thumb" %>
    <h3 class="product-title"><a href="shop-single.html"><%= furniture.title %></a></h3>
    <h4 class="product-price">
    <%= humanized_money(furniture.price) %> €
    </h4>
    <div class="product-buttons">
      <% if user_signed_in? %>
        <button class="btn btn-outline-secondary btn-sm btn-wishlist" data-toggle="modal" data-target="#modal<%=furniture.id%>" title="Whishlist"><i class="icon-heart"></i></button>
        <%= render 'add_to_wishlist', furniture: furniture %>
      <% else %>
        <a href="<%= new_user_session_path%>" class="btn btn-outline-secondary btn-sm btn-wishlist"><i class="icon-heart"></i></a>
      <% end %>
      <%= link_to "Buy", furniture.url, target: "_blank", class: "btn btn-outline-primary btn-sm" %>
    </div>
  </div>
</div>
