<div class="modal fade" id="modaldefault<%=furniture.id%>" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Insert comment to your furniture</h4>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <%= simple_form_for Review.new do |f| %>
        <%= f.input :content %>
        <%= f.hidden_field :furnitures_wishlist_id, value: f_w_id %>

        <%= f.submit "add a review", class: "btn btn-primary btn-sm" %>
        <% end %>
      </div>
      <div class="modal-footer">
        <button class="btn btn-outline-secondary btn-sm" type="button" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

