<!-- SHOW WISHLIST -->

<!-- Page HEADER -->

<div class="page-title">
  <div class="container">

      <!-- Navbar Page -->
    <div class="row">
      <div class="col-md-6 text-left">
        <%= link_to profile_path, class: 'btn btn-sm btn-outline-primary' do %>
        <i class="icon-arrow-left"></i> <%= "All wishlists" %>
        <% end %>
        <button class="btn btn-sm btn-outline-secondary " data-toggle="modal" data-target="#modal" title="search"><i class="icon-search"></i> New search</button>
        <% content_for :modals do %>
          <%= render 'modal_search' %>
        <% end %>
      </div>
      <div class="col-md-6 text-right">
        <button class="btn btn-sm btn-secondary" type="button" data-toggle="modal" data-target="#modalEdit">Edit wishlist</button>
        <% content_for :modals do %>
          <%= render 'edit_wishlist', wishlist: @wishlist %>
        <% end %>

        <button class="btn btn-sm btn-primary" type="button" data-toggle="modal" data-target="#modalCollab">Add collaborators <i class="icon-head"></i></button>
        <% content_for :modals do %>
          <%= render 'add_collaborators', wishlist: @wishlist, guest_wishlist: @guest_wishlist %>
        <% end %>
      </div>
    </div>

    <!-- Info wishlist -->
    <hr class="margin-bottom-2x margin-top-1x">
    <div class="row">
      <div class="col-md-5 text-left">
        <h1><strong><%= @wishlist.title %></strong></h1>
        <br>
        <p> You have <strong><%= @wishlist.furnitures.count %> furnitures</strong> in this wishlist</p>
        <div>
          <%= form_tag url_for(:controller => 'donations', :action => 'create') do %>
          <div id="error_explanation">
            <% if flash[:error].present? %>
            <p><%= flash[:error] %></p>
            <% end %>
          </div>
          <article>
            <%= label_tag(:amount, 'Donation Amount:') %>
            <%= text_field_tag(:amount) %>
          </article>
          <article>
            <%= hidden_field_tag 'wishlist_id', @wishlist.id %>
          </article>
          <%= submit_tag 'Donation', class: 'btn btn-primary' %>
          <% end %>
        </div>
        <div>


          <h4>Donation</h4>

          TOTAL: <strong><%= @wishlist.donations.sum("amount_cents")/100 %>€</strong>
          <ul class="list-unstyled">
            <% @wishlist.donations.each do |donation| %>

            <li><%= User.find(donation.user_id).last_name unless donation.user_id.nil? %><%= User.find(donation.user_id).first_name unless donation.user_id.nil? %> : <%= donation.amount %> </li>
            <% end %>
          </ul>

        </div>
      </div>
      <div class="col-md-7 text-right">
        <p class=""><strong> Description: </strong><%= @wishlist.description %></p>
      </div>
    </div>
  </div>
</div>


<!-- Page BODY -->

<!-- Card V2 (Bertrand) -->

<div class="container margin-bottom-4x">
  <div class="row margin-top-2x">
    <% @furnitures.each do |furniture| %>
      <div class="col-xs-12 col-sm-4 margin-bottom-1x">
        <div class="product-card text-center">
          <%= image_tag furniture.photo, class: "product-thumb" %>
          <p class="tag text-center">L: <strong><%= furniture.length %></strong>cm - W: <strong><%= furniture.width %></strong>cm - H: <strong><%= furniture.height %>cm</strong></p>
          <div class=" mb-2 widget widget-tags">
            <a class="tag" href="#"> Category: <strong><%= furniture.category.name %></strong></a>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-8 margin-top-1x">
        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" href="#description<%=furniture.id%>" data-toggle="tab" role="tab">Product</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#reviews<%=furniture.id%>" data-toggle="tab" role="tab">Reviews</a>
          </li>
        </ul>


        <div class="tab-content">
        <!-- DESCRIPTION PRODUCT -->

            <div class="tab-pane fade show active" id="description<%=furniture.id%>" role="tabpanel">
              <div class="col-md-12">
                <div class="padding-top-x mt-2 hidden-md-up"></div>
                <div class="row justify-content-between ">
                  <div class="column">
                    <h2 class="text-normal"><%= furniture.title %></h2>
                  </div>
                  <div class="column text-right">
                    <span class="h2 d-block"><%= humanized_money(furniture.price) %> € </span>
                  </div>
                </div>
                <hr class="margin-bottom-2x">
                <p><%= furniture.description %></p>
                <br>
                <hr class="mb-3">
                <div class="d-flex flex-wrap justify-content-between">
                  <div class="entry-share mt-2 mb-2">
                    <span class="text-muted">Share:</span>
                    <div class="share-links">
                      <a class="social-button shape-circle sb-facebook" href="#" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="socicon-facebook"></i></a>
                      <a class="social-button shape-circle sb-twitter" href="#" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="socicon-twitter"></i></a>
                      <a class="social-button shape-circle sb-instagram" href="#" data-toggle="tooltip" data-placement="top" title="Instagram"><i class="socicon-instagram"></i></a>
                      <a class="social-button shape-circle sb-google-plus" href="#" data-toggle="tooltip" data-placement="top" title="Google +"><i class="socicon-googleplus"></i></a>
                    </div>
                  </div>
                  <div class="sp-buttons mt-2 mb-2">
                    <%= link_to "Buy", furniture.url, target: "_blank", class: "btn btn-primary btn-sm" %>
                  </div>
                </div>
              </div>
            </div>


          <div class="tab-pane fade" id="reviews<%=furniture.id%>" role="tabpanel">

            <!-- Navbar Page -->
            <div class="row">
              <div class="col-md-12 text-right">
                <button class="btn btn-sm btn-primary" data-toggle="modal" data-target="#modaldefault<%=furniture.id%>" title="Whishlist">New review</button>
                <% f_w = FurnituresWishlist.where(wishlist: @wishlist).where(furniture: furniture).first.id %>
                <% content_for :modals do %>
                  <%= render 'comment', f_w_id: f_w, review: Review.new , furniture: furniture%>
                <% end %>
              </div>
            </div>
            <hr class="margin-bottom-2x margin-top-1x">

            <!-- Review-->
            <% reviews = furniture.furnitures_wishlists.where(wishlist: @wishlist).first.reviews %>
            <% reviews.each do |review| %>
            <% avatar_url = User.find(review.user_id).photo || "https://lelakisihat.com/wp-content/uploads/2016/09/avatar.jpg" %>
              <div class="comment">
                <div class="comment-author-ava">

                    <img src="<%= avatar_url %>" alt="Review author">


                </div>
                <div class="comment-body">
                  <div class="comment-header d-flex flex-wrap justify-content-between"></div>
                  <p class="comment-text"><%= review.content %></p>
                  <div class="comment-footer"><span class="comment-meta"> <%= review.user.first_name %> <%= review.user.last_name %></span></div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>




