<div class="page-title">
  <div class="container">
    <div class="column">
      <h1><%= @wishlist.title %></h1>
    </div>
    <div class="column">
      <ul class="breadcrumbs">
        <li>
          <%= link_to "Supprimer la wishlist", wishlist_path(@wishlist), :method => 'delete' %>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-6">
      <div class="form-inline">
        <h4>Share the wishlist: </h4>
        <%= form_for [@wishlist, GuestWishlist.new], :html => {class: 'form-inline'} do |f| %>
        <div class="input-group">
          <div class="input-group-addon">@</div>
          <%= f.text_field :email, required: true, class: "form-control", placeholder: "Email" %>
        </div>
        <div>
          <%= f.submit "Invite", class: "btn btn-outline-primary btn-sm" %>
        </div>
        <% end %>
      </div>
    </div>
    <div class="col-xs-6">
      <h4>Users :</h4>
      <% @wishlist.guest_wishlists.each do |guest| %>
      <div><%= guest.email %></div>
      <% end %>
    </div>
  </div>
  <div class="wishlist-description"><h4> <%= @wishlist.description %></h4></div>
  <div class="row">
    <% @furnitures.each do |furniture| %>
    <div class="col-sm-3 margin-bottom-2x pb-2">
      <div class="card"><img class="card-img-top" src="<%= furniture.photo %>" alt="Card image">
        <div class="card-block">
          <h4 class="card-title"> <%= furniture.title %></h4>
          <p class="card-text">
            <strong>L:</strong><%= furniture.length %> cm <strong>H:</strong> <%= furniture.height %> cm <strong>W:</strong> <%= furniture.width %> cm
          </p>
          <div class="row">
            <%= link_to "Delete", furniture_path(furniture), :method => 'delete', class: "btn btn-secondary btn-sm" %>
            <div>
              <button class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#modaldefault<%=furniture.id%>" title="Whishlist">Comment</button>
              <% f_w = FurnituresWishlist.where(wishlist: @wishlist).where(furniture: furniture).first.id %>
              <% content_for :modals do %>
              <%= render 'comment', f_w_id: f_w, review: Review.new , furniture: furniture%>
              <% end %>
            </div>
            <div>
              <button class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#modalLarge<%=furniture.id%>" title="Whishlist">Reviews</button>
              <% content_for :modals do %>
              <%= render 'reviews', reviews: furniture.furnitures_wishlists.where(wishlist: @wishlist).first.reviews, furniture: furniture %>
              <% end %>
            </div>
          </div>
          <div class="text-center">
            <%= link_to "Buy", furniture.url, target: "_blank", class: "btn btn-outline-primary btn-sm" %>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
