<div class="col-xs-12 col-sm-3">
  <div class="product-card">
    <%= image_tag furniture.photo, class: "product-thumb" %>
    <h3 class="product-title"><%= link_to furniture.title, furniture_path(furniture) %></h3>
    <h4 class="product-price"><%= furniture.price.to_s.gsub(".0", "").gsub(".", ",") %> € </h4>
    <div class="product-buttons">
      <% if user_signed_in? %>
        <button class="btn btn-outline-secondary btn-sm btn-wishlist" data-toggle="modal" data-target="#modal<%=furniture.id%>" title="Whishlist"><i class="icon-heart"></i></button>
        <% content_for :modals do %>
          <%= render 'add_to_wishlist', furniture: furniture %>
        <% end %>
      <% else %>
        <a href="<%= new_user_session_path%>" class="btn btn-outline-secondary btn-sm btn-wishlist"><i class="icon-heart"></i></a>
      <% end %>
      <%= link_to "Buy", furniture.url, target: "_blank", class: "btn btn-outline-primary btn-sm" %>
    </div>
  </div>
</div>

