<div class="col-xs-12 col-sm-3">
  <div class="product-card text-center">
    <%= link_to furniture_path(furniture) do %>
      <%= image_tag furniture.photo, class: "product-thumb" %>
    <% end %>
    <h2 class="product-title"><%= link_to furniture.title, furniture_path(furniture) %> - <strong><%= humanized_money(furniture.price).gsub(",", "")%></strong>€</h2>
    <p class="tag text-center">L: <strong><%= furniture.length %></strong>cm - W: <strong><%= furniture.width %></strong>cm - H: <strong><%= furniture.height %>cm</strong></p>
    <div class="product-buttons">
      <% if user_signed_in? %>
        <button class="btn btn-outline-danger btn-sm" data-toggle="modal" data-target="#modal<%=furniture.id%>" title="Whishlist"><i class="icon-heart"></i></button>
        <% content_for :modals do %>
          <%= render 'add_to_wishlist', furniture: furniture %>
        <% end %>
      <% else %>
        <a href="<%= new_user_session_path%>" class="btn btn-outline-danger btn-sm btn-wishlist"><i class="icon-heart"></i></a>
      <% end %>
      <%= link_to "Buy", furniture.url, target: "_blank", class: "btn btn-primary btn-sm" %>
    </div>
  </div>
</div>

