<div class="container">

  <% @furnitures.each do |furniture| %>
  <p> <%= furniture.title %> </p>
  <p> <%= furniture.description %> </p>
  <p> <%= furniture.photo %> </p>
  <% end %>


  <% current_user.wishlists.each do |wishlist| %>
  <p> <%= wishlist.title %> </p>
  <p> <%= wishlist.description %> </p>
  <% end %>

</div>

