<div class="page-title">
  <div class="container">
    <div class="column">
      <%= link_to "All results", furnitures_path, class: "btn btn-sm btn-secondary" %>
    </div>
    <div class="column">
    </div>
  </div>
</div>

<div class="container padding-bottom-3x mb-1">
  <div class="row">

    <!-- PRODUCT GALLERIE  -->
    <div class="col-md-6">
      <div class="product-card">
        <%= image_tag @furniture.photo, class: "img-total-width" %>
      </div>
    </div>

    <!-- PRODUCT DESCRIPTION -->

    <div class="col-md-6 padding-left-1x padding-top-2x">
      <div class="padding-top-2x mt-2 hidden-md-up"></div>
        <div class="row justify-content-between ">
          <div class="column">
            <h2 class="text-normal padding-left-title"><%= @furniture.title %></h2>
          </div>
          <div class="column text-right padding-left-title">
            <span class="h2 d-block"><%= humanized_money(@furniture.price) %> € </span>
          </div>
        </div>
      <hr class="mb-3">
      <p><%= @furniture.description %></p>
      <br>
      <div class=" mb-2 widget widget-tags">
        <span class="text-medium">Categories:&nbsp;</span>
        <a class="tag" href="#"> <%= @furniture.category.name %></a>
      </div>
      <div class=" mb-2 widget widget-tags justify-content-between">
        <span class="text-medium">Size:</span>
        <a class="tag" href="#">Lenght: <%= @furniture.length %> cm</a>
        <a class="tag" href="#">Width: <%= @furniture.width %> cm</a>
        <a class="tag" href="#">Heigth: <%= @furniture.height %> cm</a>
      </div>
      <hr class="mb-3">
      <div class="d-flex flex-wrap justify-content-between">
        <div class="entry-share mt-2 mb-2">
          <span class="text-muted">Share:</span>
          <div class="share-links">
            <a class="social-button shape-circle sb-facebook" href="#" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="socicon-facebook"></i></a>
            <a class="social-button shape-circle sb-twitter" href="#" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="socicon-twitter"></i></a>
            <a class="social-button shape-circle sb-instagram" href="#" data-toggle="tooltip" data-placement="top" title="Instagram"><i class="socicon-instagram"></i></a>
            <a class="social-button shape-circle sb-google-plus" href="#" data-toggle="tooltip" data-placement="top" title="Google +"><i class="socicon-googleplus"></i></a>
          </div>
        </div>
        <div class="sp-buttons mt-2 mb-2">
          <% if user_signed_in? %>
            <button class="btn btn-outline-danger btn-sm " data-toggle="modal" data-target="#modal<%=@furniture.id%>" title="Whishlist"><i class="icon-heart"></i></button>
            <% content_for :modals do %>
              <%= render 'add_to_wishlist', furniture: @furniture %>
            <% end %>
          <% else %>
            <a href="<%= new_user_session_path%>" class="btn btn-outline-secondary btn-sm btn-wishlist"><i class="icon-heart"></i></a>
          <% end %>
          <%= link_to "Buy", @furniture.url, target: "_blank", class: "btn btn-primary btn-sm" %>
        </div>
      </div>
    </div>
  </div>
  <div>

  </div>
  <div class="row padding-top-3x mb-3">
    <div class="col-lg-12">
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" href="#description" data-toggle="tab" role="tab">Description</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#reviews" data-toggle="tab" role="tab">Reviews (3)</a>
        </li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane fade show active" id="description" role="tabpanel">
          <p>Il existe un choix de housses pour vous permettre de renouveler facilement l'aspect de votre canapé et celui de toute la pièce.</p>
          <p class="mb-30">Structure canapé 2 places: Structure: contreplaqué, Panneau de particules résistant à l'humidité, Panneau de fibres de bois, bois massif. Garnissage: Rembourrage fibres creuses en polyester, Mousse polyuréthane 30 kg/m3. Pied: acier, revêtement époxy/polyester (poudre), polypropylène. Housse de canapé 2pla: 100% polyester</p>
        </div>
        <div class="tab-pane fade" id="reviews" role="tabpanel">
          <!-- Review-->
          <div class="comment">
            <div class="comment-author-ava"><img src="http://i.pravatar.cc/150?img=4" alt="Review author"></div>
            <div class="comment-body">
              <div class="comment-header d-flex flex-wrap justify-content-between">
                <h4 class="comment-title">Average quality for the price</h4>
                <div class="mb-2">
                    <div class="rating-stars"><i class="icon-star filled"></i><i class="icon-star filled"></i><i class="icon-star filled"></i><i class="icon-star"></i><i class="icon-star"></i>
                    </div>
                </div>
              </div>
              <p class="comment-text">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.</p>
              <div class="comment-footer"><span class="comment-meta">Francis Burton</span></div>
            </div>
          </div>
          <!-- Review-->
          <div class="comment">
            <div class="comment-author-ava"><img src="http://i.pravatar.cc/150?img=5" alt="Review author"></div>
            <div class="comment-body">
              <div class="comment-header d-flex flex-wrap justify-content-between">
                <h4 class="comment-title">My husband love his new...</h4>
                <div class="mb-2">
                    <div class="rating-stars"><i class="icon-star filled"></i><i class="icon-star filled"></i><i class="icon-star filled"></i><i class="icon-star filled"></i><i class="icon-star filled"></i>
                    </div>
                </div>
              </div>
              <p class="comment-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
              <div class="comment-footer"><span class="comment-meta">Maggie Scott</span></div>
            </div>
          </div>
          <!-- Review-->
          <div class="comment">
            <div class="comment-author-ava"><img src="http://i.pravatar.cc/150?img=6" alt="Review author"></div>
            <div class="comment-body">
              <div class="comment-header d-flex flex-wrap justify-content-between">
                <h4 class="comment-title">Soft, comfortable, quite durable...</h4>
                <div class="mb-2">
                    <div class="rating-stars"><i class="icon-star filled"></i><i class="icon-star filled"></i><i class="icon-star filled"></i><i class="icon-star filled"></i><i class="icon-star"></i>
                    </div>
                </div>
              </div>
              <p class="comment-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
              <div class="comment-footer"><span class="comment-meta">Jacob Hammond</span></div>
            </div>
          </div>
          <!-- Review Form-->
          <h5 class="mb-30 padding-top-1x">Leave Review</h5>
          <form class="row" method="post">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="review_name">Your Name</label>
                <input class="form-control form-control-rounded" type="text" id="review_name" required>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="review_email">Your Email</label>
                <input class="form-control form-control-rounded" type="email" id="review_email" required>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="review_subject">Subject</label>
                <input class="form-control form-control-rounded" type="text" id="review_subject" required>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="review_rating">Rating</label>
                <select class="form-control form-control-rounded" id="review_rating">
                  <option>5 Stars</option>
                  <option>4 Stars</option>
                  <option>3 Stars</option>
                  <option>2 Stars</option>
                  <option>1 Star</option>
                </select>
              </div>
            </div>
            <div class="col-12">
              <div class="form-group">
                <label for="review_text">Review </label>
                <textarea class="form-control form-control-rounded" id="review_text" rows="8" required></textarea>
              </div>
            </div>
            <div class="col-12 text-right">
              <button class="btn btn-outline-primary" type="submit">Submit Review</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
